# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt

# Streamlit
.streamlit/secrets.toml

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# virtualenv
.venv
venv/
ENV/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# PyCharm
.idea/

# VS Code
.vscode/

# Replit specific
.replit
.breakpoints
replit.nix
poetry.lock

# Project specific
*.log
*.csv
*.xlsx
*.xls
